/* https://lospec.com/palette-list/midnight-ablaze */
:root {
  --bg-color: #130208;
  --text-color: #ff8274;
  --border-color: #7c183c;
  --accent-highlight: #d53c6a;
  --accent-shadow: #460e2b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.0rem;
  /* Base size for pixel font legality */
  line-height: 1.5;
  -webkit-font-smoothing: none;
  /* Sharper pixels */
}

pre,
code {
  font-family: monospace;
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  padding: 8px 16px;
  font-size: 10px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 4px;
  box-shadow: 2px 2px 0px var(--border-color);
  /* Blocky shadow */
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--accent-highlight);
}

h1 {
  text-shadow: 2px 2px 0px var(--accent-shadow);
}